<div class="modal-header">
  <h5 class="modal-title">{{ titulo_modal }}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<form id="formEliminar" action="{{ url_accion }}" method="post">
  <div class="modal-body">
    {% csrf_token %}
    <p>¿Seguro que deseas eliminar a <strong>{{ persona }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </div>
</form>
